<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095491118733-nf8j4u7iiqt5fbtnb1dudkame9k81h6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095491118733-nf8j4u7iiqt5fbtnb1dudkame9k81h6p</string>
	<key>API_KEY</key>
	<string>AIzaSyBVqDSK3v3EIxqCzSx2nyclKJcu5iPXR6s</string>
	<key>GCM_SENDER_ID</key>
	<string>1095491118733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.slide1</string>
	<key>PROJECT_ID</key>
	<string>finaltsa</string>
	<key>STORAGE_BUCKET</key>
	<string>finaltsa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095491118733:ios:0b20e05513771c1566a4c4</string>
</dict>
</plist>